NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
ADMIN_EMAIL=your_admin_email@example.com
NEXT_PUBLIC_ADMIN_EMAIL=your_admin_email@example.com
PAKASIR_PROJECT_SLUG=your_pakasir_project_slug
PAKASIR_API_KEY=your_pakasir_api_key
PAKASIR_WEBHOOK_SECRET=your_pakasir_webhook_secret
TURSO_AUTH_TOKEN=your_turso_auth_token
TURSO_DATABASE_URL=libsql://your_database.turso.io